.count-down {
    display: none;
    background-color: #F02B73;
    color: $white;
    padding: 5px 0;

    @media (min-width: $tablet-m) {
        padding: 7px 0 2px;
    }

    p {
        font-size: 14px;
        color: $white;
        margin: 0 0 5px 0;
        position: relative;
        top: -1px;

        @media (min-width: $tablet-m) {
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px 0 0;
        }
    }

    div {
        display: inline-block;
        vertical-align: middle;

        span {
            width: 42px;
            background-color: $white;
            border-radius: 5px;
            font-size: 18px;
            padding: 2px 0;
            color: #F02B73;
            display: block;
            font-weight: 700;
            margin: 0 5px;
        }

        p {
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            font-weight: 700;

            @media (min-width: $tablet-m) {
                margin: -3px 0 0;
            }
        }
    }
}