.cta-entel-bar{
  background-color: $color-light-blue;
  padding: 3px 25px;

  @media (min-width: $notebook-s) {
    display: none;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: relative;
  }

  img {
    width: auto;
  }
}