.powerlike {
    &_devicedetail__content__ideal {
        height: 73px;
        padding: 21px 0;
        background-color: $color-blue;

        h5 {
            @extend .h5;
            color: $white;
            font-weight: 400;
            text-align: center;

            span {
                font-weight: 800;
            }
        }
    }

    &_devicedetail__content__device {
        margin: 30px 0;

        .img-slide {
            img {
                margin: 0 auto;
            }
        }

    }

    &_devicedetail__content__detail {
        width: 310px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        .content_match {
            width: calc(100%/4);
            display: inline-block;
            vertical-align: middle;
        }

        .link-detalle {
            color: $orange;
        }

        .button_entel__match a,
        .button-ficha a {
            width: 215px;
            height: 42px;
            color: #fff;
            display: block;
            margin: 0 auto;
            line-height: 42px;
            border-radius: 50px;
            background: #ff6702;
            font-weight: bold;
            text-transform: uppercase;
        }
    }    
}