header {
    width: 100%;
    height: 50px;
    position: absolute;
    padding: 0 20px;
    text-align: left;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #004FB9;
   
    a {
        display: inline-block;
        vertical-align: middle;
        border-left: 1px solid #ffffff;
        padding-left: 10px;

        img {
            width: 33px;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            color: #ffffff;
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            margin-left: 8px;
        }
    }
}

.arrow-back {
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 40px;
    position: relative;

    span {
        width: 4px;
        height: 16px;
        display: block;
        border-radius: 10px;
        background-color: $white;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    span:nth-child(1) {
        transform: rotate(50deg);
        top: 12px;
    }

    span:nth-child(2) {
        transform: rotate(130deg);
        top: 20px;
    }
}