.powerlike__hello {
    height: 100vh;
    padding: 70px 0;

    &__content {
        &__img {
            margin: 0 auto;
            max-width: 120px;
            position: relative;

            img:nth-child(2) {
                position: absolute;
                right: 20px;
                top: 0;
            }
        }
       
        h2 {
            @extend .h2;
        }
    }

    a {
        font-weight: normal;
        font-size: 14px;
        line-height: 108%;
        text-align: center;
        color: #FF6702;
        position: absolute;
        bottom: 23px;
        left: 0;
        right: 0;
        text-decoration: none;
    }
}