
.hero {
    z-index: 1;
    cursor: pointer;
    position: relative;
    display: block;
    
    img {
        width: 100%;
        height: 190px;
        background-color: #1058c0;
    }

    @media (min-width: $tablet-m) {
		img {
            height: auto;
            padding: 0;
	    }
	}
}