.terminos {
    opacity: 1;
    display: block;
    text-align: center;
    background-color: #0250ba;

    span {
        padding: 7px;
        font-size: 10px;
        line-height: 12px;
        color: #2FCBF1;
        text-align: center;
        display: inline-block;
        
        a {
            text-decoration: underline;
            font-weight: 700;
            padding: 0 5px;
            color: #2FCBF1;
            font-size: 12px;
            line-height: 12px;
        }

        @media (min-width: 640px) {
            font-size: 12px;
            line-height: 12px;
            padding: 7px 10%;
            width: auto;
        }
    }
}