
.principal-filters {
    width: 280px;
    height: 100%;
    text-align: left;
    position: fixed;
    padding: 30px;
    left: -280px;
    top: 0;
    background-color: $white;
    z-index: 5;
    overflow-y: auto;
    padding-bottom: 70px;
    transition: left 200ms ease 0s;

    @media (min-width: $tablet-m) {
        position: relative;
        width: 172px;
        height: auto;
        left: 0;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: -21px 0 0 0;
        overflow: initial;
    }

    @media (min-width: $laptop-s) {
        margin: -33px 0 0 0;
    }

    @media (min-width: $laptop-m) {
        width: 220px;
    }

    @media (min-width: $desktop-s) {
        width: 255px;
    }

    &.active {
        left: 0;

        .entel-button {
            left: 0;
        }
    }

    > a {
        padding: 10px 0;
        display: inline-block;
        margin: 0 0 5px 0;

        @media (min-width: $tablet-m) {
            display: none;
        }
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 15px 0;
        position: relative;
    }

    .cross {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: $white;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 0 3px;
        position: relative;

        &::before,
        &::after {
            width: 7px;
            height: 2px;
            background-color: $blue;
            content: '';
            position: absolute;
            transform: rotate(45deg);
            top: 7px;
            left: 4px;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .clear-filters {
        font-size: 14px;
        padding: 5px;
        display: inline-block;
        position: absolute;
        font-weight: 500;
        top: -4px;
        right: -5px;
        color: #b2cbe2;
        transition: color 200ms ease 0s, opacity 200ms ease 0s;

        @media (min-width: $laptop-m) {
            font-size: 16px;
            top: -5px
        }

        &.ocult {
            opacity: 0;
            pointer-events: none;
        }

        &:hover {
            color: $blue;
            opacity: 0.7;

            .cross {
                background-color: $blue;
            }
        }

        .cross {
            background-color: #b2cbe2;
            transition: background-color 200ms ease 0s;
            margin: 2px 0 0 1px;

            @media (min-width: $laptop-m) {
                margin: 2px 0 0 3px;
            }

            &::before,
            &::after {
                background-color: $white;
            }
        }
    }

    &__tags {
        a {
            height: 25px;
            line-height: 25px;
            padding: 0 7px 0 10px;
            background-color: #b2cbe2;
            border-radius: 25px;
            font-weight: 700;
            font-size: 12px;
            margin: 0 3px 5px 0;
            display: inline-block;
            transition: opacity 200ms ease 0s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .entel-radio {
        margin: 0 0 10px;
        line-height: 1;
        display: block;
        position: relative;
        z-index: 2;

        .redirect-enterprise {
            span img {
                padding: 0 5px 0 0;
            }
        }

        &.has-tooltip {
            z-index: 1;

            &:hover {
                z-index: 2;
            }

        }

        input[type='radio'] {
            + span + label,
            + label + span + label {
                font-size: 16px;

                &:before {
                    margin: 0 8px 0 0;
                    border-width: 1px;
                    top: 0;
                }
            }
        }

        label {
            margin: 0;
        }
    }

    .entel-checkbox {
        margin: 0 0 10px;
        display: block;

        span {
            position: relative;
            top: -2px;
        }

        i {
            border-color: $gray-line;
            border-width: 1px;
        }

        input[type='checkbox'] {
            &[type='checkbox']:checked + i,
            &[type='checkbox']:checked + label + i {
                border-color: $orange;
            }
        }
    }

    .entel-tooltip {
        width: 20px;
        height: 20px;
        line-height: 18px;
        border: 1px solid #b2cbe2;
        border-radius: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        color: #b2cbe2;
        font-size: 13px;
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 0;
        cursor: pointer;
        transition: background-color 200ms ease 0s;

        &:hover {
            background-color: #b2cbe2;
            color: $white;

            span {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        span {
            width: 230px;
            background-color: #00b9eb;
            padding: 8px 10px;
            border-radius: 8px;
            position: absolute;
            bottom: 32px;
            right: -20px;
            font-size: 11px;
            line-height: 13px;
            color: $white;
            text-align: left;
            letter-spacing: 0;
            opacity: 0;
            transform: translate(0, 5px);
            pointer-events: none;
            transition: transform 200ms ease 0s, opacity 200ms ease 0s;

            &:after {
                content: '';
                position: absolute;
                bottom: -7px;
                right: 22px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #00b9eb;
            }
        }
    }

    hr {
        border-bottom: 1px solid #D9E6F1;
        margin: 20px 0;
    }

    .entel-accordion {
        &__item {
            border-bottom: 1px solid #D9E6F1;
            margin: 0;
        }

        &__title {
            padding: 16px 0;
            border: 0;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__content {
            border: 0 !important;
        }

        &__content__inner {
            padding: 0 0 15px 0;
        }

        &__arrow {
            right: 0;

            &::after {
                width: 10px;
                height: 10px;
                top: -2px;
            }
        }
    }

    .entel-button {
        width: 280px;
        height: 50px;
        position: fixed;
        left: -280px;
        bottom: 0;
        font-size: 14px;
        line-height: 50px;
        margin: 0;
        padding: 0;
        border-radius: 0;
        transition: left 200ms ease 0s;

        @media (min-width: $tablet-m) {
            display: none;
        }
    }
}

.entel-overlay {
    @media (min-width: $tablet-m) {
        display: none;
    }
}