.principal-container {
    position: relative;
    z-index: 1;

    @media (min-width: $tablet-m) {
        width: 90%;
        max-width: 1270px;
        margin: 0 auto;
        text-align: right;
        padding: 0 20px;
    }
}