.powerlike_profile_market {
    text-align: center;
    background-color: #F3F7F9;

    &__content {
        h2 {
            @extend .h2;
            margin-bottom: 15px;
        }
    
        p {
            @extend .p-pink;
        }

        &__options {
            width: 266px;
            margin: 0 auto;
    
            &__button {
                width: 266px;
                height: 57px;
                display: block;
                text-decoration: none;
                text-align: left;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
                border-radius: 11px;
                position: relative;
                margin: 14px auto;
                padding: 20px 20px 20px 70px;
                transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    
                & > span {
                    color: #004FB9;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    text-transform: uppercase;
                }
    
                & > img {
                    position: absolute;
                    top: 15px;
                    left: 25px;
                }
    
                & > img.icon-arrow {
                    position: absolute;
                    top: 16px;
                    left: inherit;
                    right: 25px;
                }             
            }
        }        
    }
}  