.powerlike {
    &_options {
        height: 100vh;
        padding: 70px 0;
        text-align: center;
        background-image: url(../../../images/home/bg-vector-options.png);
        background-position-x: center;
        background-position-y: -100px;
        background-repeat: no-repeat;
        background-size: cover;
        

        h4 {
            @extend .h4;
        }

        p {
            @extend .p-pink;
        }

        &__carousel {
            width: 80%;
            margin: 0 auto;
        }
    }


    &_chooseprofile {
        height: 100vh;
        padding: 70px 0;
                
        h2 {
            @extend .h2;
        }
    
        p {
            @extend .p-pink;
            text-align: center;
            line-height: 40px;
        }

        &__slidecontainer__item {
            width: 270px;
            padding: 0;
            text-align: left;
            margin: 0 auto 21px auto;

            img,
            .range,
            span {
                vertical-align: middle;
                display: inline-block;
            }

            .range p {
                @extend .p-blue;
                text-align: center;
            }

            .range label {
                font-weight: 600;   
            }

            input[type="range"] {
                -webkit-appearance: none;
                height: 6px;
                width: 134px;
                margin: 0 7px;
                background: #DDDDDD;
                outline: none;                
                -webkit-transition: .2s;
                transition: opacity .2s;
                border-radius: 3px;
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                border-radius: 9px;
                width: 17px;
                height: 17px;
                background: $pink;
                cursor: pointer;
            }
                
            input[type="range"]::-moz-range-thumb {
                border-radius: 9px;
                width: 17px;
                height: 17px;
                background: $pink;
                cursor: pointer;
            }
        }

        &__select {
            width: 244px;
            margin: 0 auto;

            p {
                @extend .p-blue;
                font-size: 12px;
                text-align: left;
                margin: 0 0 14px 0;
            }

            div {
                background: $white;
                padding: 20px 20px;
                box-sizing: border-box;
                border-radius: 8px;
                line-height: 20px;
                color: $gray-placeholder;
                border: 1px solid rgba(158, 159, 161, 0.5);

                .select-icon {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    border-radius: 50%;
                    float: right;
                    padding: 0;
                    position: relative;
                    border: none;
                    text-align: center;
                    background-color: $sky-color;

                    span {
                        width: 4px;
                        height: 9px;
                        border-radius: 10px;
                        display: inline-block;
                        transform: rotate(-45deg);
                        background-color: $color-light-blue;
                        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                    }

                    span:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &.active {
                        span {
                            transform: rotate(-138deg);
                        }

                        span:nth-child(2) {
                            transform: rotate(138deg);
                        }                        
                    }
                }
            }

            div ul {
                display: none;
            }
        }
    }
}

