.products {
    padding: 18px 0 65px;
    position: relative;
    z-index: 1;

    @media (min-width: $tablet-m) {
        width: 504px;
        display: inline-block;
        vertical-align: top;
        margin: 15px 0 0 10px;
        padding: 0 0 20px;
        position: relative;
        left: 7px;
    }

    @media (min-width: $laptop-s) {
        width: 755px;
        margin: 15px 0 0 20px;
    }

    @media (min-width: $laptop-m) {
        width: 885px;
    }

    @media (min-width: $desktop-s) {
        margin: 15px 0 0 35px;
    }

    &__title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 15px;
        padding: 0 7%;

        @media (min-width: $mobile-m) {
            padding: 0 13%;
        }

        @media (min-width: $mobile-l) {
            padding: 0 17%;
        }

        @media (min-width: $tablet-s) {
            width: 580px;
            padding: 0 0 0 5px;
            text-align: left;
        }

        @media (min-width: $tablet-m) {
            margin: 0;
            width: 35%;
            position: absolute;
            top: -65px;
            left: 0;
        }

        @media (min-width: $laptop-s) {
            width: 100%;
            top: -55px;
		}
    }

    h1 {
        order: 1;
        font-size: 20px;
        color: #14ABF9;
        text-align: left;
        font-weight: 500;
        display: inline-block;
        margin: 4px 0 0 ;
        vertical-align: top;

        @media (min-width: $tablet-m) {
            display: none;
        }
    }

    &__delivery,
    &__paymentmethod {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__paymentmethod {
        order: 3;
        width: 100%;
        margin: 13px 0 0;

        img {
            width: 100%;
        }

        @media (min-width: $tablet-m) {
            order: 2;
            width: 100%;
            margin: 0 0 3px;
        }

        @media (min-width: $laptop-s) {
            width: 35%;
            margin: 0 7px 0 0;
		}
    }

    &__delivery {
        order: 2;
        width: 135px;
        height: 32px;
		text-align: center;
		border: 1px dashed #016FD0;
		border-radius: 32px;
        margin: 0 0 0 15px;
        display: inline-block;
        vertical-align: top;
        background-color: #F3F7F9;

        @media (min-width: $laptop-m) {
            height: 45px;
            width: 210px;
        }
        
        * {
			display: inline-block;
			vertical-align: top;
		}

		p {
            font-size: 10px;
            font-weight: 700;
            text-align: left;
            line-height: 12px;
            margin: 3px 0 0 0;
            color: #0B52B6;

            @media (min-width: $laptop-m) {
                margin-top: 9px;
                width: 138px;
                font-size: 12px;

                br {
                    display: none;
                }
            }

            .orange {
                display: none;
                margin-left: 5px;
                color: #FF560A;
                font-weight: 700;

                @media (min-width: $laptop-m) {
                    display: inline;                    
                }
            }
		}

		img {
			width: 28px;
            margin: 4px 7px 0 0;

            @media (min-width: $laptop-m) {
                width: 36px;
                margin-top: 11px;
            }
		}
    }

    &__content {
        width: 280px;
        margin: 0 auto;
        text-align: left;

        @media (min-width: $tablet-s) {
            width: 580px;
        }

        @media (min-width: $tablet-m) {
            width: auto;
        }

        &.loading,
        &.loadingdown {
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                background: transparent;
                border: 2px solid $orange;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-radius: 50%;
                top: 80px;
                left: 50%;
                margin-left: -15px;
                width: 30px;
                height: 30px;
                animation: loading 1s ease-in-out infinite;
                z-index: 3;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.4;
                left: 0;
                top: 0;
                z-index: 2;
            }
        }

        &.loadingdown {
            &::before {
                top: initial;
                bottom: 180px;
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}