.powerlike {
    &_options {
        height: 100vh;
        padding: 70px 0;
        text-align: center;
        background-image: url(../../../images/home/bg-vector-options.png);
        background-position-x: center;
        background-position-y: -100px;
        background-repeat: no-repeat;
        background-size: cover;
        

        h4 {
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 14px; 
        }

        p {
            font-family: $barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: $pink;
        }

        &__carousel {
            width: 80%;
            margin: 0 auto;

            
        }

        .button_entel__carousel {
            position: absolute;
            bottom: 21px;
            left: 50%;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            transform: translate(-50%, -50%);
            
            a {
                width: 215px;
                height: 42px;
                color: $white;
                display: block;
                margin: 0 auto;
                line-height: 42px;
                border-radius: 50px;
                background: $orange;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }


    &_chooseprofile {
        height: 100vh;
        padding: 70px 0;
                
        h2 {
            text-align: center;
            font-family: $barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 27px;
            line-height: 27px;
            color: $color-blue;
        }
    
        p {
            text-align: center;
            font-family: $barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 40px;
            color: $pink;
        }

        &__slidecontainer__item{
            padding: 0 33px; 
            text-align: center;
            margin: 0 0 21px 0;

            img,
            input,
            span {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}

