.powerlike_specs {
    padding: 0 !important;

    .button_entel__carousel {
        position: relative;
        left: unset;
        bottom: unset;
        transform: none;
        margin: 21px auto;
    }

    &.active {
        z-index: 2 !important;
    }

    &__scroll {
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 60px;
    }

    &__content {
        img {
            width: 280px;
            display: block;
            margin: 20px auto;
        }
    }

    &__characteristics {
        height: 50px;
        padding: 0 20px;
        background-color: $color-blue; 

        h5 {
            @extend .h5;
            color: $white;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
        }        
    }

    &__main {
        width: 280px;
        margin: 10px auto;
        border-top: 0.4px solid #B2CBE2;  

        h4 {
            font-weight: 500;
            margin: 10px 0 0 0;
        } 

        .box-specs {
            @extend .box-info;
            padding: 0 15px;
            margin-bottom: 3px;
        }

        .icon-specs-colors {
            width: calc(100%/2);    

            .color-red,
            .color-gray,
            .color-purple {
                padding: 3px;
                margin: 0 5px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;

                .circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }

        .rating {
            text-align: right;
        }

        .icon-specs,
        .specs-detail,
        .brand,
        .model,
        .specs-colors-detail,
        .icon-specs-colors {
            display: inline-block;
            vertical-align: middle;
        }

        .specs-colors-detail {
            @extend .h5;
            color: $color-blue;
            font-weight: 500;
            padding: 0 !important;
            text-align: right;
        }

        .brand,
        .model,
        .specs-colors-detail  {
            margin: 15px auto;
            padding: 10px 0 0 0;
            width: calc(100%/2);

            p {
                line-height: 25px;  
            }

            p strong {
                font-weight: 800;
            }
        }

        .icon-specs {
            width: 20%;
        }

        .specs-detail {
            width: 80%;

            span {
                color: $color-blue;
                font-size: 14px;
                vertical-align: middle;

                i {
                    // color: $gray-placeholder;
                    color: $color-light-blue;
                    position: relative;
                    font-size : 12px;
                    font-weight: 800;
                    margin: 0 3px;
                    top: -1px;
                }

                // i.active {
                //     color: $color-light-blue;
                // }
            }

            span:nth-child(2) {
                font-weight: 600;
            }

            p {
                @extend .p-pink;
                color: $color-blue;
                line-height: 12px;
            }
        }
    }
}


.color {
    &-red {
        border: 1px solid $red;
        .circle {
            background-color: $red;
        }
    }

    &-gray {
        border: 1px solid $gray;
        .circle {
            background-color: $gray;
        }
    }

    &-purple {
        border: 1px solid purple;
        .circle {
            background-color: purple;
        }
    }
} 
