.powerlike_splash_match {
    height: 100vh;
    text-align: center;
    color: #004FB9;

    &__content {
        background-image: url(../../../images/bg-vector-hello.png);
        background-position: center;
        background-position-y: -46px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 253px;
        padding: 51px 0 0;

        h2 {
            font-size: 24px;
            line-height: 108%;
            text-align: center;
            color: #004FB9;
            margin: 36px auto 0;
    
            span {
                font-weight: bold;
            }
        }
    }

    .icon-loading {
        margin: 40px auto 13px;
    }

    p {
        font-size: 14px;
        line-height: 108%;
    }
}