.powerlike {
    &_splash_idealdevice__content,
    &_splash_profile__content,
    &_profile_market__content,
    &_profile__content,
    &__hello__content {
        top: 50%;
        left: 50%;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
    
        h2 {
            @extend .h2;
        }
    
        p {
            @extend .p-pink;
        }
    }
}
