//- Layout
extends ../../layout/base.pug

block globalvars
    -page = 'preselector'

//- Content Landing
block content

    .preselector
        .preselector__header
            .preselector__header__container
                a.entel-logo(href='https://www.entel.pe/' title='Entel Perú') #[img(src= img_path + 'logo-entel.png' alt='Entel Perú')]
                span
                a.entel-ecommerce(href='https://www.catalogo.entel.pe/' title='Tienda Entel Perú') #[img(src= img_path + 'logo-entel-ecommerce.png')]

        .preselector__content
            h2 ¡Realiza tus operaciones#[br]con total comodidad!
            h3 ¿Qué deseas hacer hoy?
            .preselector__content__butons
                a(href='javascript:void(0)' filter='migra-postpago').preselector__content__butons__buton 
                    img.no--hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-migra.png' alt='Entel Perú - Migra o portabilidad')
                    img.hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-migra-hover.png' alt='Entel Perú - Migra o portabilidad')
                    | Migra o portabilidad
                    span.button Ingresar

                a(href='javascript:void(0)' filter='chip-entel').preselector__content__butons__buton 
                    img.no--hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-chip.png' alt='Entel Perú - Comprar un chip')
                    img.hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-chip-hover.png' alt='Entel Perú - Comprar un chip')
                    | Comprar un chip
                    span.button Ingresar

                a(href='javascript:void(0)' filter='renovacion-postpago').preselector__content__butons__buton 
                    img.no--hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-renueva.png' alt='Entel Perú - Renueva')
                    img.hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-renueva-hover.png' alt='Entel Perú - Renueva')
                    | Renueva
                    span.button Ingresar

                a(href='javascript:void(0)' filter='linea-nueva-postpago').preselector__content__butons__buton 
                    img.no--hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-linea-nueva.png' alt='Entel Perú - Línea nueva')
                    img.hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-linea-nueva-hover.png' alt='Entel Perú - Línea nueva')
                    | Línea nueva
                    span.button Ingresar

                a(href='javascript:void(0)' filter='equipos-libres').preselector__content__butons__buton 
                    img.no--hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-equipo-libre.png' alt='Entel Perú - Equipo Libre')
                    img.hover(src='https://entelperu.vteximg.com.br/arquivos/preselector-equipo-libre-hover.png' alt='Entel Perú - Equipo Libre')
                    | Equipo Libre
                    span.button Ingresar

        .preselector__down-container
            .preselector__down-container__arrow

        img.preselector__image(src="https://entelperu.vteximg.com.br/arquivos/preselector-fondo.png", alt="Entel Perú")