
.entel-page,
.entel-popup {
    font-family: 'Barlow', sans-serif;

    b,
    strong {
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Barlow', sans-serif;
    }
}