//- Layout
extends ../../layout/base.pug


block globalvars
    -page = 'filter'    

//- Content Landing
block content
    include partials/powerlike_profile_market
    include partials/powerlike_options
    include partials/powerlike_chooseprofile_ahorrador
    include partials/powerlike_chooseprofile_aventurero
    include partials/powerlike_chooseprofile_gamer
    include partials/powerlike_chooseprofile_influencer
    include partials/powerlike_profile
    include partials/powerlike_preselector
    include partials/powerlike_devicedetail
    include partials/powerlike_specs