//- Layout
extends ../../layout/base.pug


block globalvars
    -page = 'filter'    

//- Content Landing
block content
    include partials/powerlike_profile_market
    include partials/powerlike_options
    include partials/powerlike_chooseprofile_ahorrador
    include partials/powerlike_chooseprofile_adventure
    include partials/powerlike_chooseprofile_gamer
    include partials/powerlike_chooseprofile_influencer
    include partials/powerlike_profile_gamer
    include partials/powerlike_profile_influencer
    include partials/powerlike_profile_adventure
    include partials/powerlike_profile_saver
    include partials/powerlike_preselector
    include partials/powerlike_devicedetail
    include partials/powerlike_specs
    include partials/powerlike_splash_match_saver
    include partials/powerlike_splash_match_gamer
    include partials/powerlike_splash_match_influencer
    include partials/powerlike_splash_match_adventure
