//- Layout
extends ../../layout/base.pug

block globalvars
    -page = 'filter'

//- Content Landing
block content
    //- include partials/powerlike_hello
    //- include partials/powerlike_options
    //- include partials/powerlike_splash_idealdevice
    include partials/powerlike_chooseprofile
    //- include partials/powerlike_splash_profile
    include partials/powerlike_profile