
.float-button {
    margin: 0;
    width: 70px;
    height: 70px;
    bottom: 70px;
    right: 10px;
    z-index: 999;
    display: block;
    border-radius: 50%;
    position: fixed;
    text-decoration: none;
    box-shadow: 0px 0px 5px #D4F0FF;
    background: linear-gradient(180deg, #0154A0 0%, #3EF0FB 302.78%);
    line-height: 1;
    opacity: 0;
    pointer-events: none;

    @media (min-width: $tablet-s) {
        right: 20px;
        bottom: 20px;
    }

    @media (min-width: $laptop-m) {
        width: 90px;
        height: 90px;
        bottom: 24px;
        right: 30px;
    }

    &.init {
        opacity: 1;
        pointer-events: initial;
    }

    &.load {
        animation-duration: .3s;
        animation-fill-mode: both;
        animation-name: bounceIn;
        animation-delay: .3s;
    }

    &.ocult {
        animation-duration: .1s;
        animation-fill-mode: both;
        animation-name: rotateOut;
        animation-delay: .1s;
    }

    &.no-ocult {
        animation-duration: .1s;
        animation-fill-mode: both;
        animation-name: rotateIn;
        animation-delay: .1s;
    }

    &.do-bounce {
        animation-duration: .3s;
        animation-fill-mode: both;
        animation-name: bounce;
        animation-delay: .2s;
        animation-iteration-count: 2;
    }

    span {
        display: block;
        margin: 13px 0 6px 0;
        font-size: 13px;
        color: $white;

        @media (min-width: $laptop-m) {
            font-size: 14px;
            margin: 18px 0 10px 0;
        }
    }

    img {
        width: 30px;

        @media (min-width: $laptop-m) {
            width: 35px;
        }
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1;
    }
    
    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

@keyframes rotateIn {
    from {
      transform-origin: center;
      transform: rotate3d(0, 0, 1, -200deg);
      opacity: 0;
    }
  
    to {
      transform-origin: center;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}