
.products {
    padding: 36px 0 45px;
    position: relative;
    z-index: 1;

    &__title {        
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #004FB9;
    }

    &__content {
        width: 280px;
        margin: 0 auto;
        text-align: left;

        @media (min-width: $tablet-s) {
            width: 580px;
        }

        @media (min-width: $tablet-m) {
            width: auto;
        }

        &.loading,
        &.loadingdown {
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                background: transparent;
                border: 2px solid $orange;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-radius: 50%;
                top: 80px;
                left: 50%;
                margin-left: -15px;
                width: 30px;
                height: 30px;
                animation: loading 1s ease-in-out infinite;
                z-index: 3;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.4;
                left: 0;
                top: 0;
                z-index: 2;
            }
        }

        &.loadingdown {
            &::before {
                top: initial;
                bottom: 180px;
            }
        }
    }

    &__content--slider{
        position: relative;
        overflow: hidden;

        .entel-thumbnail-phone-card{
            margin: 20px 20px 40px 20px;
        }
        
        .slick-dots{
            width: 100%;;
            position: absolute;
            left: 0;
            bottom: 10px;
            text-align: center;            
            li{
                display: inline-block;
                vertical-align: middle;
                margin: 0 3px;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background-color: #CACACA;
                button{
                    display: none;
                }
            }
            li.slick-active{
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: #FF560A;
            }
        }

        .slick-next,.slick-prev{
            position: absolute;
            padding: 0;
            border: 0;
            background: none;
            text-indent: -9999px;            
            outline: 0;
            z-index: 10;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border-left: none;
            border-top: none;
            border-right: 2px solid #0154a0;
            border-bottom: 2px solid #0154a0;
            -webkit-transform: rotate(135deg);            
            text-indent: 0;
            font-size: 0;
            top: 0;
            bottom: 0;
            left: 4px;
            margin: auto;
            @media (min-width: $tablet-m) {
                left: 17px;
            }
        }

        .slick-next {
            right: 4px;
            left: inherit;
            -webkit-transform: rotate(-45deg);
            @media (min-width: $tablet-m) {
                right: 17px;
            }
        }
        
        @media (min-width: $tablet-m) {
            padding: 0 20px;
        }

        @media (min-width: $laptop-m) {
            width: 1170px;
        }        
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}