.lightbox_mobile {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    &.active {
        opacity: 1;
        visibility: visible;
        
        @media only screen and (min-width: 560px) {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__content {
        background: transparent;
        height: 355px;   
        margin: 40% auto 0;
        transition: all 0.8s ease;
        width: 268px;
        position: relative;
        cursor: pointer;
    }
}