/* === PROJECT VARIABLES === */

$e-blue: #0154a0;
$e-orange: #ff6702;

$e-disabled: #e1e4ea;
$e-links: #0085fe;
$e-text-disabled: #b2cbe2;

$e-black: #000000;
$e-white: #ffffff;

$e-orange-circle: #cf4b3b;
$e-blue-circle: #428bca;
$e-red: #ff0000;
$e-yellow: #f9d044;
$e-grey: #f9fafc;
$e-blue-light: #6798c6;

$e-another-gray: #242424;
$e-another-blue: #1f18bb;
$e-gold: #cbb4a3;
$e-metalic: #a6A7ab;
$e-titan: #59575a;
$e-another-red: #820209;
$e-flash-gray: #201f23;
$e-deep-indigo: #3a4654;
$e-pink: #eab7c0;
$e-silver: #a6a7ab;
$e-brown: #3b291b;
$e-lilac: #906d8e;
$e-space-gray: #242424;
$e-blue-silver: #314776;
$e-lavender: #9091a6;
$e-midnight-black: #030001;

$base-font: 16;

$din-condensed-bold: 'DINCondensedBold';
$din-next-lt-pro-bold: 'DINNextLTProBold';
$din-next-lt-pro-light: 'DINNextLTProLight';
$din-next-lt-pro-medium: 'DINNextLTProMedium';
$din-next-lt-pro-regular: 'DINNextLTProRegular';
$din-next-lt-pro-ultra-light: 'DINNextLTProUltraLight';

//$font-path: "../fonts" !default;
$font-path: "https://transformaciondigital.vteximg.com.br/arquivos" !default;
