//- Layout
extends layout/base.pug

block globalvars
    -page = 'product'

//- Content Landing 
block content
    .entel-page(style="max-width: 320px; margin: 0 auto; padding: 50px 0; height: 100vh")
        .entel-section
            .entel-container
                br
                br
                br 
                br
                h1 Lista de páginas

                .list-pages
                    h3 Power Like

                    ul
                        li 
                            a.entel-link(href='/views/filter/personas.html' style="text-decoration: underline") #[strong - Personas] 
                            br
                            br
                            a.entel-link(href='/views/filter/empresas.html' style="text-decoration: underline") #[strong - Empresas]

    style.
        .list-pages { text-align: left; }
        .list-pages h3 { margin: 25px 0; color: #004FB9; }
        .list-pages ul { border-bottom: 1px solid #D1E2F2; padding: 0 0 25px 0; }
        .list-pages ul:last-child { border-bottom: 0; }
        .list-pages li { margin: 0 0 15px 0; }
        .list-pages .entel-link { text-transform: none; }
  