section.powerlike_devicedetail
    .powerlike_devicedetail__content
        .powerlike_devicedetail__content__ideal
            h5 Tu equipo Ideal recomendado
                span Huawei P 20 Lite Negro

        .powerlike_devicedetail__content__device
            +entel-device("huawei",'front-huawei', '.png', 'huawei')
            +entel-device("huawei",'rotate-huawei', '.png', 'huawei')
            +entel-device("huawei",'back-huawei', '.png', 'huawei')

        .powerlike_devicedetail__content__detail
            +entel-match-detail('class','icon-battery', '.png', 'detail', '3 días')
            +entel-match-detail('class','icon-battery', '.png', 'detail', '3 días')
            +entel-match-detail('class','icon-battery', '.png', 'detail', '3 días')
            +entel-match-detail('class','icon-battery', '.png', 'detail', '3 días')

