section.powerlike_chooseprofile.influencer
	.powerlike_chooseprofile__content
		h5  Influencer
			span ¿Qué haces con tu celular?

		.powerlike_chooseprofile__slidecontainer
			.powerlike_chooseprofile__slidecontainer__item
				+range-slider("range-influencer-apps", "range-frecuence", "1" , "100", "50", "Más de 5 horas", "¿Con qué frecuencia ingresas a Facebook o Instagram durante el día?")

			.powerlike_chooseprofile__slidecontainer__item
				+range-slider("range-influencer-nivel", "range-apps", "1" , "100", "50", "Mucho", "¿Qué nivel de youtube lover eres?")

		.powerlike_chooseprofile__select
			p ¿Qué marca prefieres?
			
			select(name="brands")
				option(value="Samsung", selected="selected") Samsung
				option(value="Apple") Apple
				option(value="Huawei") Huawei
				option(value="Xiaomi") Xiaomi
				option(value="Motorola") Motorola
				option(value="LG") LG
				option(value="Sony") Sony
				option(value="Nokia") Nokia

		.button_entel__carousel
			a(href="javascript:void(0)") continuar