section.powerlike_match
    .powerlike_match__header
        h2 Tu equipo Ideal recomendado
        p Huawei P 20 Lite Negro 
    
    .powerlike_match__content
        +entel-match('Huawei','P30 Lite','','Entel - Huawei P30 Lite','1 día Duración','13 MP Cámara' '5.5’ Pantalla', '32GB Capacidad','','')
        +entel-match('Huawei','P30 Lite','','Entel - Huawei P30 Lite','1 día Duración','13 MP Cámara' '5.5’ Pantalla', '32GB Capacidad','','')
        +entel-match('Huawei','P30 Lite','','Entel - Huawei P30 Lite','1 día Duración','13 MP Cámara' '5.5’ Pantalla', '32GB Capacidad','','')
        
    
    .powerlike_match__slider
        h3 También hiciste match con