section.powerlike_specs
    .powerlike_specs__characteristics
        h5 Caracteristicas

    .powerlike_specs__content
        +retina_img('delivery-info','delivery', '.png', 'delivery')

        .powerlike_specs__main
            h4 #[strong Caracteristicas]

            .brand
                h6 Marca
                p#brand #[strong Huawei]

            .model
                h6 Línea
                p#brand #[strong P20]

            +source-specs-colors('Colores')
            +source-specs-battery('icon-battery', '../../images/', 'icon-battery','.png','icon battery','3000','6')
            //- +source-specs-memory(classie,img_path,src_img,extension,alt,gb,processors)
            //- +source-specs-screen(classie,img_path,src_img,extension,alt,screen,screen_specs)         
            //- +source-specs-camera(classie,img_path,src_img,extension,alt,processors,frontal)        
            //- +source-specs-size(classie,img_path,src_img,extension,alt,inches_h,inches_mm_h,inches_w,inches_mm_w,deep,deep_mm,weigth,gr)
            //- +source-specs-red(classie,img_path,src_img,extension,alt,two,three,four,ltefour)