section.powerlike_hello
    .powerlike_hello__content
        h2 Hola! En tan solo 3 pasos descubre tu equipazo

    .powerlike_hello__button
        +retina_img('icon-star','star', '.png', 'Entel Perú')