section.powerlike_profile_market
    h2 El celular es...
    p Elige una de la dos opciones

    .powerlike_profile_market__options
        +entel-profile-market('persona','../../images/','icon-persona','.png','Entel Perú','para Tí','icon-arrow')
        +entel-profile-market('empresa','../../images/','icon-empresa','.png','Entel Perú','Para TU negocio','icon-arrow')