section.powerlike_chooseprofile.ahorrador
	.powerlike_chooseprofile__content
		h5  Ahorrador
			span ¿Qué haces con tu celular?			

		.counter_box
			p ¿Cuánto dinero estas dispuesto a gastar?

			div
				a(href="javascript:void(0)").counter -

				input(type="tel" value="S/ 400")

				a(href="javascript:void(0)").counter +

		.powerlike_chooseprofile__select
				p ¿Qué marca prefieres?
				
				div Seleccionar
					.select-icon
						span
						span 
					ul 
						- var brands = ["Samsung", "Huawei", "Apple"];
						for name in brands
							li(data-value= name)= name

		.button_entel__carousel
			a(href="javascript:void(0)") continuar