section.powerlike_chooseprofile.aventurero
	.powerlike_chooseprofile__content
		h5  Aventurero
			span ¿Qué haces con tu celular?

		.powerlike_chooseprofile__slidecontainer
			.powerlike_chooseprofile__slidecontainer__item
				+range-slider("range-aventurero-fotos", "range-frecuence", "1" , "100", "50", "Demasiado", "¿Qué tan importante es para ti la calidad de tus fotos?")

			.powerlike_chooseprofile__slidecontainer__item
				+range-slider("range-aventurero-apps", "range-apps", "1" , "100", "50", "Más de 3 apps", "¿Cuantas Apps de streaming tienes en tu celular?")

		.powerlike_chooseprofile__select
			p ¿Qué marca prefieres?
			
			div Seleccionar
				.select-icon
					span
					span 
			ul 
				- var brands = ["Samsung", "Apple", "Huawei", "Xiaomi", "Motorola", "LG", "Sony", "Nokia"];
				for name in brands
					li(data-brand= name)= name

		.button_entel__carousel
			a(href="javascript:void(0)") continuar
			

