section.powerlike_options
    .powerlike_options__content
        h4 ¿Con qué grupo te identificas?
        p  Elige uno de los perfiles

        .powerlike_options__carousel
            +entel-options("gamer", "icon-gamer", "../../images/profile/","icon-gamer", ".png", "El gamer nunca se rinde, son los que tienen integrado la tecnología a sus vidas. Lo sabe todo de todos y cada uno de los dispositivos.")
            +entel-options("influencer", "icon-influencer", "../../images/profile/","icon-influencer", ".png", "El influencer es el crea contenido, comparte, opina y se une a diferentes redes sociales.")
            +entel-options("aventurero", "icon-aventurero", "../../images/profile/","icon-aventurero", ".png", "El aventurero que busca más viajes llenos de stories dentro y fuera del país. Es un usuario muy activo en las redes sociales.")
            +entel-options("ahorrador", "icon-saver", "../../images/profile/","icon-saver", ".png", "	Sabe lo que quiere y necesita y también quien aprovecha de los Decuentazos más exclusivos online.")

        .button_entel__carousel
            a(href="javascript:void(0)") Soy el #[span#profile_name gamer]
