section.powerlike__hello
    .powerlike__hello__content
        .powerlike__hello__content__img
            +retina_img('icon-hello', 'icon-hello', '.png', 'Entel Perú')
            +retina_img('heart','heart', '.png', 'Entel Perú')

        h2 Descubre con Entel #[br] El equipazo que mereces
    a(href='https://catalogo.entel.pe/') Ir al catálogo Entel 