section.powerlike_splash_match
    .powerlike_splash_match__content
        h2 #[span Felicitaciones Gamer!] #[br]Tenemos un equipazo que espera por tí
    
    +retina_img('icon-loading','icon-loading', '.png', 'Entel Perú')
    p Espera un momento por favor.