section.powerlike_hello
    .powerlike_hello__content
        +retina_img('icon-hello', '.png', 'Entel Perú')
        h2 Descubre con Entel El equipazo que mereces
    a(href='https://catalogo.entel.pe/') Ir al catálogo Entel 