section.powerlike_profile
    .powerlike_profile__content
        h3 #[strong Hola #[span#id Ahorrador]!] ¿Ahora cuéntanos que haces con tu celular?
        +retina_img('icon saver', 'profile/ahorrador', '.png', 'Entel Perú')
