section.powerlike_options
    h4 ¿Con qué grupo te identificas?
    p  Elige uno de los perfiles

    .powerlike_options__carousel
        +entel-options("gamer", "icon-gamer", "../../images/home/","icon-gamer", ".png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, consectetur, voluptas quis deleniti provident illo nemo eaque nostrum assumenda tempore, suscipit nisi incidunt aspernatur molestias. Iure ipsa cum minus!")
        +entel-options("influencer", "icon-influencer", "../../images/home/","icon-influencer", ".png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, consectetur, voluptas quis deleniti provident illo nemo eaque nostrum assumenda tempore, suscipit nisi incidunt aspernatur molestias. Iure ipsa cum minus!")
        +entel-options("aventurero", "icon-aventurero", "../../images/home/","icon-aventurero", ".png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, consectetur, voluptas quis deleniti provident illo nemo eaque nostrum assumenda tempore, suscipit nisi incidunt aspernatur molestias. Iure ipsa cum minus!")
        +entel-options("saver", "icon-saver", "../../images/home/","icon-saver", ".png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, consectetur, voluptas quis deleniti provident illo nemo eaque nostrum assumenda tempore, suscipit nisi incidunt aspernatur molestias. Iure ipsa cum minus!")

    .button_entel__carousel
        a(href="#") Soy el #[span#profile_name gamer]