section.powerlike_devicedetail
    .powerlike_devicedetail__content
        .powerlike_devicedetail__content__ideal
            h5 Tu equipo Ideal recomendado
                span Huawei P 20 Lite Negro
        
        .powerlike_devicedetail__content__tag                
            .tag__seller El + vendido
            .counter_slide 1/5

        .powerlike_devicedetail__content__device
            +entel-device("huawei",'front-huawei', '.png', 'huawei')
            +entel-device("huawei",'rotate-huawei', '.png', 'huawei')
            +entel-device("huawei",'back-huawei', '.png', 'huawei')

        .powerlike_devicedetail__content__detail
            +entel-match-detail('class','icon-battery', '.png', 'detail', '3 días Duración')
            +entel-match-detail('class','icon-camera', '.png', 'detail', '13 MP Cámara')
            +entel-match-detail('class','icon-screen', '.png', 'detail', '5.5’ Pantalla')
            +entel-match-detail('class','icon-memory', '.png', 'detail', '32GB Capacidad') 

            a.link-detalle(href="javascript:void(0)") ver detalle

            .button_entel__match
                a(href="javascript:void(0)") continuar

        .powerlike_devicedetail__content__match
            h3 Tambien hiciste match con
            .powerlike_devicedetail__content__match__slide
                +entel-match('Huawei','P30 Lite','../../images/front-huawei.png','huawei','class','battery-white','.png','1 día','Duración','13 MP', 'Cámara ','5,5´', 'Pantalla' ,'32GB', 'Capacidad','ver detalle','lo quiero')
                +entel-match('Huawei','P30 Lite','../../images/front-huawei.png','huawei','class','battery-white','.png','1 día','Duración','13 MP', 'Cámara ','5,5´', 'Pantalla' ,'32GB', 'Capacidad','ver detalle','lo quiero')
                +entel-match('Huawei','P30 Lite','../../images/front-huawei.png','huawei','class','battery-white','.png','1 día','Duración','13 MP', 'Cámara ','5,5´', 'Pantalla' ,'32GB', 'Capacidad','ver detalle','lo quiero')

