section.powerlike_chooseprofile
	h2  ¡Hola Gamer!
	p ¿Con qué frecuencia lo usas?

	.powerlike_chooseprofile__slidecontainer
		.powerlike_chooseprofile__slidecontainer__item
			+retina_img('icon-battery', '.png', 'Entel Perú')
			+range-slider("range-frecuence", "range-frecuence", "1" , "100", "50", "Días")

		.powerlike_chooseprofile__slidecontainer__item
			+retina_img('icon-camera', '.png', 'Entel Perú')
			+range-slider("range-frecuence", "range-frecuence", "1" , "100", "50", "Más de 3")