section.powerlike_profile
    .powerlike_profile__content
        h3 #[strong Hola #[span#id Aventurero]!] Tenemos un equipazo que espera por tí
        br
        +retina_img('icon-loading','icon-loading', '.png', 'Entel Perú')
        br
        p Espera un momento por favor.
