section.powerlike_saver
    .powerlike_saver__content
        h2  ¡Hola Ahorrador!
        p ¿Con qué frecuencia lo usas?

        .powerlike_saver__content__counter
            p ¿Cuánto dinero estas dispuesto a gastar?

            div
                a(href="javascript:void(0)").counter -

                input(type="tel" value="S/ 400")

                a(href="javascript:void(0)").counter +    

        .powerlike_saver__select
            p ¿Qué marca prefieres?
            
            div Seleccionar
                .select-icon
                    span
                    span 
                ul 
                    - var brands = ["Samsung", "Huawei", "Apple"];
                    for name in brands
                        li(data-value= name)= name

        .button_entel__carousel
            a(href="#") continuar
            