section.entel-powerlike__hello
    .entel-powerlike__hello__content
        .entel-powerlike__hello__content__img
            +retina_img('icon-hello', '.png', 'Entel Perú')
        h2 Descubre con Entel El equipazo que mereces
    a(href='https://catalogo.entel.pe/') Ir al catálogo Entel 