section.powerlike_profile_market
    .powerlike_profile_market__content
        h2 Hola! el celular es...
        p Elige una de la dos opciones

        .powerlike_profile_market__content__options
            +entel-profile-market('persona','../../images/','icon-persona','.png','Entel Perú','para Tí')
            +entel-profile-market('empresa','../../images/','icon-empresa','.png','Entel Perú','Para TU negocio')
