section.powerlike_specs
    .powerlike_specs__characteristics
        .arrow-back 
            span
            span

        h5 Caracteristicas

    .powerlike_specs__content
        +retina_img('delivery-info','delivery', '.png', 'delivery')

        .powerlike_specs__main
            h4 #[strong Caracteristicas]

            .brand
                h6 Marca
                p#brand #[strong Huawei]

            .model
                h6 Línea
                p#brand #[strong P20]

            +source-specs-colors('Colores')
            +source-specs-battery('icon-battery', '../../images/', 'icon-battery','.png','icon battery','3000','6')
            +source-specs-memory('icon-memory','../../images/','icon-memory','.png','icon memory','32','Octa Core 2.3 GHz Y 1.7GHz')
            +source-specs-screen('icon-screen','../../images/','icon-screen','.png','icon screen','5.84','retina display')         
            +source-specs-camera('icon-camera','../../images/','icon-camera','.png','icon camera','16MP + 2MP','16MP')        
            +source-specs-size('icon-device','../../images/','icon-device','.png','icon size','5,67','144,0','2,81','71,4','0,32','8,1','6,63','188')
            +source-specs-red('icon-red','../../images/','icon-red','.png','icon red','2G','3G','4G','LTE (4G)')

        +retina_img('mediospago-info','mediospago', '.png', 'delivery')
        
    .button_entel__carousel
        a(href="javascript:void(0)") Lo Quiero
