section.powerlike__preselector
    .powerlike__preselector__content
        h2 Para finalizar
            span ¿Cómo quieres llevártelo hoy? 

            +entel-preselector('migra-postpago','https://entelperu.vteximg.com.br/arquivos/preselector-migra.png','Entel Perú - Migra o portabilidad','https://entelperu.vteximg.com.br/arquivos/preselector-migra-hover.png','Migra o portabilidad ')
            +entel-preselector('renovacion-postpago','https://entelperu.vteximg.com.br/arquivos/preselector-renueva.png','Entel Perú - Renueva','https://entelperu.vteximg.com.br/arquivos/preselector-renueva-hover.png','Renueva')
            +entel-preselector('linea-nueva-postpago','https://entelperu.vteximg.com.br/arquivos/preselector-linea-nueva.png','Entel Perú - Línea nueva','https://entelperu.vteximg.com.br/arquivos/preselector-linea-nueva-hover.png','Línea nueva')
            +entel-preselector('equipos-libres','https://entelperu.vteximg.com.br/arquivos/preselector-equipo-libre.png','Entel Perú - Equipo Libre','https://entelperu.vteximg.com.br/arquivos/preselector-equipo-libre-hover.png','Equipo Libre')