section.entel-powerlike__splash-loading
    +retina_img('icon-loading','icon-loading', '.png', 'Entel Perú')
    .entel-powerlike__splash-loading__text
        h2 Un momento 
        p Estamos organizando un celular sugerido para tí