section.powerlike__preselector
    .powerlike__preselector__content
        h2 Para finalizar
            span ¿Cómo quieres llevártelo hoy?

        ul
            li 
                img(src="https://entelperu.vteximg.com.br/arquivos/preselector-migra.png", width="25")
                span Migra

            li 
                img(src="https://entelperu.vteximg.com.br/arquivos/preselector-renueva.png", width="40")
                span Renueva

            li 
                img(src="https://entelperu.vteximg.com.br/arquivos/preselector-linea-nueva.png", width="22")
                span Equipo Libre

            li 
                img(src="https://entelperu.vteximg.com.br/arquivos/preselector-equipo-libre.png", width="36")
                span Línea nueva