header
    .arrow-back 
        span
        span

    a(href="https://catalogo.entel.pe/personas/celulares?para=personas") #[img.entel-ecommerce(src="../../images/home/icon-shopping-cart.png")]
        span IR A  CATALOGO 