header
    if page == 'filter'
        a(href="") #[img.entel-logo(src="../../images/home/logo-entel.png")]
        a(href="") #[img.entel-ecommerce(src="../../images/home/logo-entel-ecommerce.png")]

    if page == 'empresas'
        a(href="/") atrás