
.filter-nav-section {
    padding: 0 !important;
    position: relative;
    z-index: 2;

    @media(min-width: $tablet-m) {
        background-color: transparent;
        width: 690px;
        margin: 0 auto;
        text-align: right;
        padding: 0 20px !important;
    }

    @media (min-width: $laptop-s) {
        width: 946px;
    }

    @media (min-width: $laptop-m) {
        width: 1122px;
    }

    @media (min-width: $desktop-s) {
        width: 1170px;
    }

    &::after {
        content: '';
        display: block;
        height: 0;
        clear: both;
    }

    a {
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        transition: background-color 200ms ease 0s;
        
        span {
            color: $blue;
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            margin: 0 6px 0 0;
        }

        img.last {
            display: none;
        }

        &:active {
            background-color: $color-light-blue;

            span {
                color: $white;
            }

            img.first {
                display: none;
            }  

            img.last {
                display: inline-block;
            }    
        }

        @media(min-width: $tablet-m) {
            display: none;
        }
    }

    p {
        font-size: 16px;
        display: inline-block;

        @media (min-width: $tablet-m) {
            display: inline-block;
            vertical-align: top;
            margin: 8px 10px 0 0;
        }
        
        @media (min-width: $laptop-m) {
            font-size: 18px;
            margin: 10px 14px 0 0;
        }

        @media (max-width: $laptop-s) {
            display: none;
        }
    }

    .e-select {
        width: 200px;
        display: inline-block;
        margin: 0;
        vertical-align: top;

        @media (max-width: 767px) {
            float: left;
            width: 50%;
            height: 40px;
            margin: 0;
        }

        .entel-select__dropdown {
            > div {
                @media (max-width: 767px) {
                    color: $blue;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0;
                    height: 40px;
                    line-height: 41px;
                    border-width: 0;
                    text-align: center;
                    border-radius: 0;
                    background-color: transparent;
                    transition: background-color 200ms ease 0s;
                }

                &::after {
                    @media (max-width: 767px) {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        margin: 14px 0 0 11px;
                        right: 0;
                        top: 0;
                    }
                }
            }

            > ul {
                @media (max-width: 767px) {
                    padding: 5px 10px;
                }

                li {
                    @media (max-width: 767px) {
                        font-size: 14px;
                        padding: 7px 0;
                    }
                }
            }
        }

        &.focus {
            .entel-select__dropdown {
                > div {
                    @media (max-width: 767px) {
                        background-color: $color-light-blue;
                        color: $white;
                    }

                    &::after {
                        @media (max-width: 767px) {
                            border-color: $white;
                        }
                    }
                }
            }
        }
    }
}