
header {    
    background-color: #004fb9;
    .header-top {
        width: 100%;        
        text-align: left;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        position: relative;
        width: 1170px;
        height: 60px;
        line-height: 45px;

        > * {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        > a {
            padding: 5px;
            transition: opacity 200ms ease 0s;
            opacity: 1;
        }

        > span {
            width: 1px;
            height: 22px;
            background-color: $white;
            opacity: 0.5;
            margin: 0 10px;
        }

        .entel-logo {
            img {
                width: auto;
            }                        
        }

        .volver-header {
            &:hover {
                opacity: 0.85;
            }
            color: $white;
            font-size: 18px;

            .icon-left{
                height: 10px;
                width: 10px;
                margin-right: 10px;
            }
            .icon-left::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-left: none;
                border-top: none;
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
                -ms-transform: rotate(135deg);
                transform: rotate(135deg);
                transition: all .2s ease 0s;
                @media (max-width: $tablet-m) {
                    width: 8px;
                    height: 8px;
                }
            }
            .text {
                margin-right: 20px;
                @media (max-width: $tablet-m) {
                    margin-right: 5px;
                }
                @media (max-width: $tablet-s) {
                    font-size: 14px;
                }                
            }
        }

        .llamanos-block {
            color: $white;
            position: absolute;
            font-size: 14px;
            top: 0;
            right: 0;
            bottom: 0;
            height: 40px;
            line-height: 38px;
            margin: auto;

            .btn-open-modal {
                opacity: 1;
                display: inline-block;
                height: 24px;
                line-height: 20px;
                color: #fff;
                font-weight: 700;
                font-size: 11px;
                padding: 2px 15px;
                border-radius: 50px;
                text-decoration: none;
                background: linear-gradient(180deg,#ff6702,#fe5301);
                em:first-child {
                    font-size: 11px;
                    line-height: 16px;
                    font-style: normal;
                    position: relative;
                }                
                em:last-child {
                    display: none;
                }
                @media (max-width: $tablet-s) {
                    display: none;
                }
            }            

            .text{
                margin-right: 2px;

                @media (max-width: $tablet-m) {
                    display: none;
                }
            }

            @media (max-width: $tablet-m) {
                height: 33px;
                line-height: 33px;
            }
        } 

        .entel-ecommerce {
            img {
                width: 90px;

                @media (max-width: $desktop-s) {
                    width: auto;
                }

                @media (max-width: $tablet-s) {
                    //width: 32px;
                }
            }
        }

        @media (max-width: $laptop-m) {
            width: 90%;
            height: 60px;
            line-height: 45px;
        }        

        @media (max-width: $laptop-s) {
            height: 60px;
            line-height: 45px;
        }

        @media (max-width: $tablet-m) {
            height: 40px;
            line-height: 23px;
        }        
    }    
}

.entel-breadcrumb {
    ul {
        li {
            color:  $gray-header;
            &:after {
                content: '>';                
                display: inline-block;
                vertical-align: middle;
                margin: 0 7px;
                margin-top: -5px;
            }
            a {
                color:  $gray-header;
            }
        }
    }            
}