
mixin source_retina_img(src_img, extension, media)
    source(srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', media=media)

mixin retina_img(src_img, extension, alt)
    img(src=img_path + src_img + extension, srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', alt=alt)
